<!DOCTYPE html>
<html>

<head>
  <title>Signup Form</title>

  <!-- To make webpage responsive-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- To link icons -->
  <link rel="stylesheet" href="../Assets/Icons/font-awesome-4.7.0/css/font-awesome.min.css">

  <!-- To Link External Stylesheet and Scripts-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="../Assets/CSS/signup-form.css">
  <link rel="stylesheet" href="../Assets/CSS/dashboard.css">
  <link rel="stylesheet" href="../Assets/CSS/editPage.css">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

</head>

<body>
  <div class="container">

    <h1 id="heading"><b>ZUES</b></h1>

    <!-- div for form starts -->
    <div id="form">
      <form id="form1" name="thisform" method="POST">

        <h3 id="signup">Signup!!</h3>

        Username<span>*</span><br>
        <input type="text" class="edit" name="username" placeholder="Username" required><br>
        <p id="uname" class="error_message"></p>

        Password<span>*</span><br>
        <input type="password" class="edit" name="password" placeholder="Password" minlength="8" required><br>
        <p id="passw" class="error_message"></p>

        Confirm Password<span>*</span><br>
        <input type="password" class="edit" name="cfpassword" placeholder="Re-enter Password" minlength="8"
          required><br>
        <p id="cfpassw" class="error_message"></p>

        Email<span>*</span><br>
        <input type="email" name="email" class="edit" placeholder="abc@gmail.com" required><br>
        <br>
        <p id="mail" class="error_message"></p>

        Gender<span>*</span><br>
        <input type="radio" name="gender" value="male" checked>Male<br>
        <input type="radio" name="gender" value="female">Female<br>
        <input type="radio" name="gender" value="other">Other<br>
        <br>

        Country<span>*</span><br>
        <select value="" class="edit" name="country" required>
          <option selected>India</option>
          <option>United States of America</option>
          <option>Canada</option>
          <option>England</option>
          <option>Other</option>
        </select><br>

        <!-- START CAPTCHA -->
        Captcha<span>*</span><br>
        <div class="capbox">

          <div id="CaptchaDiv"></div>

          <div class="capbox-inner">
            Type the above number:<br>

            <input type="hidden" id="txtCaptcha" value="testvalue">
            <input type="text" name="CaptchaInput" id="CaptchaInput" size="15" autocomplete="off"><br>

          </div>
        </div>
        <br><br>
        <p id="cap" class="error_message"></p>
        <!-- END CAPTCHA -->

        <input type="button" id="submit" value="Submit" onclick="return(validate(thisform))">
      </form>
    </div>
    <!--div for form ends -->


    <!--div for dashboard page starts -->
    <div id="dashboard">
      <h2 id="signed-up-heading">Signed-Up Users</h2>
      <input type="button" id="logout" value="Logout" onclick="logout()">

      <div id="signtable" class="table-responsive">
        <table class="table table-striped" id="dashboardTable">
          <thead>
            <tr>
              <th scope="col">Username</th>
              <th scope="col">Email</th>
              <th scope="col">Gender</th>
              <th scope="col">Country</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
        </table>
      </div>

    </div>
    <!--div for dashboard page ends-->

    <!-- div for delete modal starts-->
    <div class="modal" id="myModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure, you want to delete user?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">Cancel</button>
            <button type="button" class="btn btn-primary" id="deleteText"
              onclick="deleteData(this.name)">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <!-- div for delete modal ends-->

    <!-- div for edit page starts -->
    <div id="editPage">
      <h2 id="editHeading">Edit User Info</h2>

      <div id="editUserForm">
        <form id="editForm" name="editUserForm" method="POST">
          Username<br>
          <input type="text" class="editUser" name="editUsername" value="" disabled><br>

          Password<br>
          <input type="password" class="editUser" placeholder="**********" disabled><br>

          Email<br>
          <input type="email" name="editEmail" class="editUser" value="" required><br>
          <p id="editEmail" class="editErrorMessage"></p>
          <br>

          Gender<br>
          <input type="radio" name="editGender" value="male" id="male" checked>Male<br>
          <input type="radio" name="editGender" value="female" id="female">Female<br>
          <input type="radio" name="editGender" value="other" id="other">Other<br>
          <br>

          Country<br>
          <select value="" class="editUser" name="editCountry" required>
            <option>India</option>
            <option>United States of America</option>
            <option>Canada</option>
            <option>England</option>
            <option>Other</option>
          </select><br>
          <br>

          <input type="button" id="saveInfo" value="Save Info" onclick="return(save(editUserForm))">

        </form>
      </div>
    </div>
    <!-- div for edit page ends -->

    <!-- div for loader starts -->
    <div id="loader">
      <div class="d-flex justify-content-center">
        <div class="spinner-border text-info" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>

    <!-- div for loader ends -->

  </div>


  <!-- To Link JS file-->
  <script src="../Scripts/script.js"></script>

</body>

</html>