<!DOCTYPE html>
<html>

<head>
    <title>Signup Form</title>

    <!-- To make webpage responsive-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- To link icons -->
    <link rel="stylesheet" href="../Assets/Icons/font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- To link Bootstrap CSS -->
    <link rel="stylesheet" href="../Assets/Bootstrap/bootstrap.min.css">

    <!-- To Link External Stylesheets -->
    <link rel="stylesheet" href="../Assets/CSS/signup-form.css">
    <link rel="stylesheet" href="../Assets/CSS/dashboard.css">

    <!-- To link Bootstrap Scripts -->
    <script src="../Assets/Bootstrap/jquery-3.2.1.slim.min.js"></script>
    <script src="../Assets/Bootstrap/popper.min.js"></script>
    <script src="../Assets/Bootstrap/bootstrap.min.js"></script>

</head>

<body>
    <div class="container">

        <!-- Heading acting as logo -->
        <h1 id="heading"><b>ZUES</b></h1>

        <!-- div for form starts -->
        <div id="form">

            <h3 id="signup">Signup!!</h3>

            <form id="form1" name="thisform" method="POST">

                <div class="form-group">
                    <label id="usernameLabel">Username<span>*</span></label>
                    <input type="text" class="form-control" name="username" id="usernameField" placeholder="Username"
                        required>
                </div>
                <p id="uname" class="error_message"></p>

                <div class="form-group">
                    <label id="passwordLabel">Password<span>*</span></label>
                    <input type="password" class="form-control" name="password" id="passwordField"
                        placeholder="Password" minlength="8" required>
                </div>
                <p id="passw" class="error_message"></p>

                <div class="form-group" id="cfpass">
                    <label id="cfpasswordLabel">Confirm Password<span>*</span></label>
                    <input type="password" class="form-control" name="cfpassword" id="cfpasswordField"
                        placeholder="Re-enter Password" minlength="8" required>
                </div>
                <p id="cfpassw" class="error_message"></p>

                <div class="form-group">
                    <label id="emailLabel">Email<span>*</span></label>
                    <input type="email" name="email" class="form-control" id="emailField" placeholder="abc@gmail.com"
                        required>
                </div>
                <p id="mail" class="error_message"></p>

                Gender<span>*</span>
                <div class="radio">
                    <input type="radio" name="gender" value="male" id="male" checked>Male
                </div>
                <div class="radio">
                    <input type="radio" name="gender" value="female" id="female">Female
                </div>
                <div class="radio">
                    <input type="radio" name="gender" value="other" id="other">Other
                </div><br>

                Country<span>*</span>
                <div class="form-group">
                    <select value="" class="form-control" name="country" required>
                        <option>India</option>
                        <option>United States of America</option>
                        <option>Canada</option>
                        <option>England</option>
                        <option>Other</option>
                    </select>
                </div>

                <!-- START CAPTCHA -->
                <div id="captcha">
                    <label id="captchaLabel">Captcha<span>*</span></label><br>
                    <div id="captchaBox" class="capbox">

                        <div id="CaptchaDiv"></div>

                        <div class="capbox-inner">
                            Type the above number:<br>

                            <input type="hidden" id="txtCaptcha" value="testvalue">
                            <input type="text" name="CaptchaInput" id="CaptchaInput" size="15" autocomplete="off"><br>

                        </div>
                    </div>
                    <br><br>
                </div>
                <p id="cap" class="error_message"></p>
                <!-- END CAPTCHA -->

                <input type="button" id="submit" value="Submit" onclick="return(validate(thisform))">
            </form>
        </div>
        <!--div for form ends -->

        <!--div for dashboard page starts -->
        <div id="dashboard">
            <h2 id="signed-up-heading">Signed-Up Users</h2>
            <input type="button" id="logout" value="Logout" onclick="logout()">

            <div id="signtable" class="table-responsive">
                <table class="table table-striped" id="dashboardTable">
                    <thead>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Country</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
        <!--div for dashboard page ends-->

        <!-- div for delete modal starts-->
        <div class="modal" id="myModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            onclick="closeModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure, you want to delete user?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            onclick="closeModal()">Cancel</button>
                        <button type="button" class="btn btn-primary" id="deleteText"
                            onclick="deleteData(this.name)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- div for delete modal ends-->

        <!-- For Edit info form, signup form is used by changing some attributes dynamically-->

        <!-- div for loader starts -->
        <div id="loader">
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-info" style="width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <!-- div for loader ends -->

    </div>

    <!-- To Link JS file-->
    <script src="../Scripts/const.js"></script>
    <script src="../Scripts/script.js"></script>

</body>

</html>