#editHeading {
    text-align: center;
    color: rgb(71, 70, 70);
    margin-top: 3%;
}

#editUserForm {
    margin-left: 27.3%;
    margin-top: 30px;
    margin-bottom: 5%;
    background: rgba(160, 217, 243, 0.75);
    width: 45%;
    padding: 20px;
}

/* To adjust div containing form on small screen sizes */
@media screen and (max-width: 425px) {
    #editUserForm {
        margin-left: 15%;
        width: 70%;
    }
}

.editErrorMessage {
    color: red;
    font-weight: bold;
}

#editEmail {
    display: none;
}

#saveInfo {
    background-color: rgb(13, 82, 122);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#saveInfo:hover {
    background-color: rgb(59, 235, 73);
}